.Cart {
    padding: 1em;
}

.Cart-Grid .Grid-Items {
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
}

.Cart-GridItem {
    position: relative;

    display: flex;
    align-items: center;
}

.Cart-Right {
    justify-content: space-between;
}

.Cart-GridItem .Price {
    width: 110px;
}

.Cart-Image {
    padding-right: 10px;
}

.Cart-Separator {
    padding: 20px 0;
}

.Cart-CartTitle {
    display: inline-flex;
    align-items: center;

    margin-right: 42px;
}

.Cart-CartTitle .Typography_tag_h4 {
    height: 20px;
    margin: 0 0 12px 2px;

    font-size: 15px;

    color: #808d9a;
}

