.Popup-Tail {
    width: 24px;
    height: 24px;

    /* Отключаем взаимодействие, т.к. хвостик может накладываться на якорь */
    pointer-events: none;
}

.Popup-TailSvg {
    display: block;
}

.Popup[data-popper-placement^='top'] .Popup-Tail {
    top: 100%;

    transform: rotate(180deg);
}

.Popup[data-popper-placement^='left'] .Popup-Tail {
    left: 100%;

    transform: rotate(90deg);
}

.Popup[data-popper-placement^='bottom'] .Popup-Tail {
    bottom: 100%;
}

.Popup[data-popper-placement^='right'] .Popup-Tail {
    right: 100%;

    transform: rotate(-90deg);
}
