.Popup-Tail {
    position: absolute;
    z-index: 1;

    width: 10px;
    height: 10px;
}

.Popup_direction_top-left .Popup-Tail,
.Popup_direction_top-center .Popup-Tail,
.Popup_direction_top-right .Popup-Tail {
    transform: rotate(-45deg);
}

.Popup_direction_bottom-left .Popup-Tail,
.Popup_direction_bottom-center .Popup-Tail,
.Popup_direction_bottom-right .Popup-Tail {
    transform: rotate(135deg);
}

.Popup_direction_left-top .Popup-Tail,
.Popup_direction_left-center .Popup-Tail,
.Popup_direction_left-bottom .Popup-Tail {
    transform: rotate(-135deg);
}

.Popup_direction_right-top .Popup-Tail,
.Popup_direction_right-center .Popup-Tail,
.Popup_direction_right-bottom .Popup-Tail {
    transform: rotate(45deg);
}
