node_modules/
packages/
stories/
dist/
.DS_Store
npm-debug.log*
*.tmp
*.log
*~

# build
/Amountpicker
/Badge
/BottomBar
/Button
/Calendar
/Checkbox
/ColorBox
/Cookie
/Cut
/Datepicker
/DiscountBadge
/Drawer
/Gallery
/GalleryMobile
/Grid
/Icon
/Image
/Link
/List
/Menu
/Modal
/Oops
/Popup
/Price
/Radiobox
/Radiobutton
/Rating
/Scroller
/Select
/Separator
/Skeleton
/Slider
/Snippet
/Socials
/Specs
/Spin
/Suggest
/TabsMenu
/TabsPanes
/Textarea
/Textinput
/Tumbler
/Typography
/__internal__
/withAutoFocus
/withControl
/withOutsideClick
/withTogglable
/withZIndex