.UserPic_size_m {
    width: 42px;
    height: 42px;
}

.UserPic_size_m.UserPic_hasPlus::after {
    width: 52px;
    height: 52px;
    margin: calc(52px / -2) 0 0 calc(52px / -2);
}

.UserPic_size_m .UserPic-Camera::after {
    width: calc(42px / 2);
    height: calc(42px / 2);
}
