@import '../../theme/default.scss';

.Suggest {
    position: relative;
}

.Suggest-Popup {
    width: 100%;
}

.Suggest-Menu {
    display: block;
}

.Suggest-Text {
    padding: 16px 8px;

    font-family: $font-default;
    font-size: 15px;

    color: rgba(0, 0, 0, .3);
}

.Textinput-Spinner {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 36px;
    height: 36px;
}
