.Popup {
    position: absolute;
    z-index: 1400;
}

.Popup[data-popper-reference-hidden],
.Popup[data-popper-escaped] {
    visibility: hidden !important;

    margin: -9999px 0 0 -9999px !important;

    pointer-events: none !important;
}
