.Tooltip_theme_default.Popup_theme_default {
    background: none;
    box-shadow: none;
}

.Tooltip_theme_default .Tooltip-Backdrop::before {
    border-radius: 4px;
    background-color: rgba(38, 49, 129, .15);
    box-shadow: 0 10px 20px -5px rgba(38, 49, 129, .4);
}

.Tooltip.Tooltip_theme_default .Popup-TailFill {
    fill: rgba(38, 49, 129, .15);
}

.Tooltip.Tooltip_theme_default .Popup-TailBorder {
    fill: none;
}

.Tooltip_theme_default.Tooltip_state_success {
    color: rgb(255, 255, 255);
}

.Tooltip_theme_default.Tooltip_state_warning {
    color: rgb(255, 255, 255);
}

.Tooltip_theme_default.Tooltip_state_alert {
    color: rgb(255, 255, 255);
}

.Tooltip_theme_default.Tooltip_state_success .Tooltip-Backdrop::before {
    background-color: #23943e;
}

.Tooltip_theme_default.Tooltip_state_success .Popup-TailFill {
    fill: #23943e;
}

.Tooltip_theme_default.Tooltip_state_warning .Tooltip-Backdrop::before {
    background-color: #ff7e00;
}

.Tooltip_theme_default.Tooltip_state_warning .Popup-TailFill {
    fill: #ff7e00;
}

.Tooltip_theme_default.Tooltip_state_alert .Tooltip-Backdrop::before {
    background-color: #f33;
}

.Tooltip_theme_default.Tooltip_state_alert .Popup-TailFill {
    fill: #f33;
}
