.Progress {
    width: 100%;
    height: 2px;

    border-radius: 0;
    background-color: transparent;
}

.Progress-Inner {
    width: 0;
    height: inherit;

    border-radius: inherit;
    background-color: #067aff;
}

.Progress_timing_linear .Progress-Inner {
    transition: width .2s linear;
}
