.Icon_glyph_create-course.Icon_size_s svg {
    width: 24px;
    height: 24px;
}

.Icon_glyph_create-course.Icon_size_m svg {
    width: 26px;
    height: 26px;
}

.Icon_glyph_create-course.Icon_size_l svg {
    width: 28px;
    height: 28px;
}
