.Icon_glyph_bell.Icon_size_s svg {
    width: 14px;
    height: 16px;
}

.Icon_glyph_bell.Icon_size_m svg {
    width: 18px;
    height: 20px;
}

.Icon_glyph_bell.Icon_size_l svg {
    width: 22px;
    height: 24px;
}
