.Icon_glyph_profile.Icon_size_xs svg {
    width: 14.67px;
    height: 16px;
}

.Icon_glyph_profile.Icon_size_s svg {
    width: 18.33px;
    height: 20px;
}

.Icon_glyph_profile.Icon_size_m svg {
    width: 22px;
    height: 24px;
}

.Icon_glyph_profile.Icon_size_l svg {
    width: 25.67px;
    height: 28px;
}
