.Icon_glyph_profile.Icon_size_xs svg {
    width: 16px;
    height: 16px;
}

.Icon_glyph_profile.Icon_size_s svg {
    width: 20px;
    height: 20px;
}

.Icon_glyph_profile.Icon_size_m svg {
    width: 24px;
    height: 24px;
}

.Icon_glyph_profile.Icon_size_l svg {
    width: 28px;
    height: 28px;
}
