.Icon_glyph_photo.Icon_size_xs svg {
    width: 16px;
    height: 14px;
}

.Icon_glyph_photo.Icon_size_s svg {
    width: 20px;
    height: 17.7px;
}

.Icon_glyph_photo.Icon_size_m svg {
    width: 24px;
    height: 21px;
}

.Icon_glyph_photo.Icon_size_l svg {
    width: 28px;
    height: 25px;
}

.Icon_glyph_photo.Icon_size_xl svg {
    width: 52px;
    height: 46px;
}
