.GalleryMobilePoints {
    position: relative;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    padding-top: 30px;
}

.GalleryMobilePoints-Point {
    width: calc(4px * 2);
    height: calc(4px * 2);
    margin: 4px;

    border-radius: 50%;
    background-color: rgba(38, 49, 129, 0.12);
}

.GalleryMobilePoints-Point_active {
    background-color: #24292E;
}
