@import url('https://fonts.googleapis.com/css?family=Bangers|Caveat+Brush&display=swap');

.DiscountBadge {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Caveat Brush', cursive;
    font-weight: normal;

    color: #fff;
    background-repeat: no-repeat;
    background-size: contain;

    &-Discount {
        &::before {
            content: '-';
        }

        &::after {
            content: '%';
        }
    }
}
