.DiscountBadge {
    &_size {
        &_s {
            width: 70px;
            height: 34px;

            font-size: 26px;
            line-height: 32px;

            .DiscountBadge-Discount {
                margin-top: 5px;

                letter-spacing: -.04em;

                &::before {
                    font-size: 21px;
                    letter-spacing: normal;
                }

                &::after {
                    margin-top: 6px;

                    font-size: 14px;
                    letter-spacing: normal;
                }
            }
        }
    }
}
