.MessageBox-Buttons {
    display: flex;
    justify-content: flex-end;

    margin: 0;
}

.MessageBox-Buttons .Button2:last-child::before {
    border-radius: calc(7px - 1px) 0;
}

.MessageBox-Buttons .Button2 {
    margin-right: 0;
}

.MessageBox-Buttons .Button2:last-child {
    margin-right: 0;
}

.MessageBox-Buttons .Button2:active {
    /* Cause buttons should no scale inside. */
    transform: scale(1);
}
