/* common */
.Popup_theme_default {
    visibility: hidden;

    box-sizing: border-box;
    margin: -9999px 0 0 -9999px;

    color: #000;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1.5ex 2ex -1ex rgba(38, 49, 129, .3);

    animation-duration: .1s;
    animation-timing-function: ease-out;

    animation-fill-mode: forwards;
}

.Popup_theme_default::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    border-radius: inherit;
    box-shadow: 0 0 0 1px rgba(38, 49, 129, .05);
}

.Popup_theme_default.Popup_visible::before {
    /* NOTE: ISL-5672 */
    z-index: -1;
}

.Popup_theme_default.Popup_visible {
    visibility: visible;

    margin: 0;
}

.Popup_theme_default .Popup-TailFill {
    fill: #fff;
}

.Popup_theme_default .Popup-TailBorder {
    fill: rgba(0, 0, 0, .05);
}

/**
 * Необходимо, чтобы сохранить скругленные края попапа,
 * даже если у вложенного элемента скругления не будет.
 */
.Popup.Popup_theme_default > :first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.Popup.Popup_theme_default > :last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.Popup_theme_default.Popup[data-popper-placement^='bottom'] {
    animation-name: popup_theme_default_bottom;
}

.Popup_theme_default.Popup[data-popper-placement^='bottom'].Popup_visible {
    animation-name: popup_theme_default_bottom_visible;
}

.Popup_theme_default.Popup[data-popper-placement^='top'] {
    animation-name: popup_theme_default_top;
}

.Popup_theme_default.Popup[data-popper-placement^='top'].Popup_visible {
    animation-name: popup_theme_default_top_visible;
}

.Popup_theme_default.Popup[data-popper-placement^='right'] {
    animation-name: popup_theme_default_right;
}

.Popup_theme_default.Popup[data-popper-placement^='right'].Popup_visible {
    animation-name: popup_theme_default_right_visible;
}

.Popup_theme_default.Popup[data-popper-placement^='left'] {
    animation-name: popup_theme_default_left;
}

.Popup_theme_default.Popup[data-popper-placement^='left'].Popup_visible {
    animation-name: popup_theme_default_left_visible;
}

@keyframes popup_theme_default_bottom {
    0% {
        visibility: visible;

        margin: 0;

        opacity: 1;

        transform: translateY(0);
    }

    99% {
        margin: 0;

        transform: translateY(10px);
    }

    100% {
        visibility: hidden;

        margin: -9999px 0 0 -9999px;

        opacity: 0;
    }
}

@keyframes popup_theme_default_bottom_visible {
    0% {
        opacity: 0;

        transform: translateY(10px);
    }

    100% {
        opacity: 1;

        transform: translateY(0);
    }
}

@keyframes popup_theme_default_top {
    0% {
        visibility: visible;

        margin: 0;

        opacity: 1;

        transform: translateY(0);
    }

    99% {
        margin: 0;

        transform: translateY(-10px);
    }

    100% {
        visibility: hidden;

        margin: -9999px 0 0 -9999px;

        opacity: 0;
    }
}

@keyframes popup_theme_default_top_visible {
    0% {
        opacity: 0;

        transform: translateY(-10px);
    }

    100% {
        opacity: 1;

        transform: translateY(0);
    }
}

@keyframes popup_theme_default_right {
    0% {
        visibility: visible;

        margin: 0;

        opacity: 1;

        transform: translateX(0);
    }

    99% {
        margin: 0;

        transform: translateX(10px);
    }

    100% {
        visibility: hidden;

        margin: -9999px 0 0 -9999px;

        opacity: 0;
    }
}

@keyframes popup_theme_default_right_visible {
    0% {
        opacity: 0;

        transform: translateX(10px);
    }

    100% {
        opacity: 1;

        transform: translateX(0);
    }
}

@keyframes popup_theme_default_left {
    0% {
        visibility: visible;

        margin: 0;

        opacity: 1;

        transform: translateX(0);
    }

    99% {
        margin: 0;

        transform: translateX(-10px);
    }

    100% {
        visibility: hidden;

        margin: -9999px 0 0 -9999px;

        opacity: 0;
    }
}

@keyframes popup_theme_default_left_visible {
    0% {
        opacity: 0;

        transform: translateX(-10px);
    }

    100% {
        opacity: 1;

        transform: translateX(0);
    }
}
