.Cart-TotalItem {
    position: relative;

    box-sizing: border-box;
    margin: 0;
    padding: 4px 0;


    color: #000;
    background: #fff;

    &::before {
        position: absolute;
        right: 5px;
        left: 0;

        height: 1px;
        margin: 1em 0 0;

        content: '';

        background: linear-gradient(to right, #dbdbdb 33%, transparent 0) repeat-x bottom;
        background-size: 3px 1px;
    }
}

.Cart-TotalItem.OrderPrice .Typography {
    font-weight: bold;
}

.Cart-TotalItem.OrderDiscount .Cart-Value .Typography {
    color: #f33;
}

.Cart-Name,
.Cart-Value {
    display: inline-block;

    box-sizing: inherit;
    margin: 0;

    vertical-align: top;

    background: inherit;
}

.Cart-TextWrapper {
    position: relative;
    z-index: 2;

    background: inherit;
}

.Cart-Text {
    position: relative;

    background: inherit;
}

.Cart-Name {
    width: 48%;
    padding-left: 10px;

    .Specs-Text {
        left: -10px;
    }
}

.Cart-Value {
    width: 52%;
    padding-right: 10px;

    text-align: right;

    .Specs-Text {
        left: 10px;
    }
}

.Cart-OrderPrice {
    max-width: 520px;
}
