.ListTile {
    display: flex;
    align-items: baseline;
}

.ListTile_inline {
    display: inline-flex;
}

.ListTile-Wrapper {
    flex: auto;
}

.ListTile_alignItems_start {
    align-items: flex-start;
}

.ListTile_alignItems_end {
    align-items: flex-end;
}

.ListTile_alignItems_center {
    align-items: center;
}

.ListTile_alignItems_baseline {
    align-items: baseline;
}

.ListTile_alignItems_stretch {
    align-items: stretch;
}

.ListTile-Wrapper_leftSpace_3xs {
    padding-left: 2px;
}

.ListTile-Wrapper_leftSpace_2xs {
    padding-left: 4px;
}

.ListTile-Wrapper_leftSpace_xs {
    padding-left: 8px;
}

.ListTile-Wrapper_leftSpace_s {
    padding-left: 12px;
}

.ListTile-Wrapper_leftSpace_m {
    padding-left: 16px;
}

.ListTile-Wrapper_leftSpace_l {
    padding-left: 20px;
}

.ListTile-Wrapper_leftSpace_xl {
    padding-left: 24px;
}

.ListTile-Wrapper_leftSpace_2xl {
    padding-left: 32px;
}

.ListTile-Wrapper_leftSpace_3xl {
    padding-left: 40px;
}

.ListTile-Wrapper_leftSpace_4xl {
    padding-left: 48px;
}

.ListTile-Wrapper_leftSpace_5xl {
    padding-left: 72px;
}

.ListTile-Wrapper_leftSpace_6xl {
    padding-left: 96px;
}

.ListTile-Wrapper_rightSpace_3xs {
    padding-right: 2px;
}

.ListTile-Wrapper_rightSpace_2xs {
    padding-right: 4px;
}

.ListTile-Wrapper_rightSpace_xs {
    padding-right: 8px;
}

.ListTile-Wrapper_rightSpace_s {
    padding-right: 12px;
}

.ListTile-Wrapper_rightSpace_m {
    padding-right: 16px;
}

.ListTile-Wrapper_rightSpace_l {
    padding-right: 20px;
}

.ListTile-Wrapper_rightSpace_xl {
    padding-right: 24px;
}

.ListTile-Wrapper_rightSpace_2xl {
    padding-right: 32px;
}

.ListTile-Wrapper_rightSpace_3xl {
    padding-right: 40px;
}

.ListTile-Wrapper_rightSpace_4xl {
    padding-right: 48px;
}

.ListTile-Wrapper_rightSpace_5xl {
    padding-right: 72px;
}

.ListTile-Wrapper_rightSpace_6xl {
    padding-right: 96px;
}
