@import '../../../theme/default.scss';

/* common */
.Button_theme_clear {
    color: #000;
    border: none;

    transition: transform .1s ease-out, color .15s linear;
    transform: scale(1);
}

.Button_theme_clear .Button-Text,
.Button_theme_clear .Button-Icon {
    opacity: .5;
}

.Button_theme_clear::before {
    transition: background-color .15s linear;
}

/* press */
.Button_theme_clear.Button_pressed,
.Button_theme_clear:active {
    transition: none;
    transform: scale(.96);
}

/* 1.042 ≈ 1/0.96 */
.Button_theme_clear.Button_pressed::after,
.Button_theme_clear:active::after {
    transform: scale(1.042);
}

/* disable */
.Button_theme_clear[aria-disabled='true'] {
    color: $color-control-default-disabled;
}

.Button_theme_clear[aria-disabled='true']::before {
    border-color: transparent;
    background-color: $color-control-bg-default-disabled;

}

/* check */
.Button_theme_clear.Button_checked {
    opacity: .9;
}

.Button_theme_clear.Button_checked::before {
    border-color: transparent;
    background-color: rgba(6, 122, 255, .07);
}

/* hover */
/* stylelint-disable no-descending-specificity */
.Button_theme_clear:not([aria-disabled='true']):hover .Button-Text,
.Button_theme_clear:not([aria-disabled='true']):hover .Button-Icon {
    opacity: .9;
}

/* check */
.Button_theme_clear.Button_checked:not([aria-disabled='true']):hover::before {
    background-color: rgba(6, 122, 255, .15);
}

/* focus */
.utilityfocus .Button_theme_clear:focus::before {
    border: 1px solid  #f33;
}