/* common */
.Button_theme_pseudo {
    color: #000;

    transition: transform .1s ease-out, color .15s linear;
    transform: scale(1);
}

.Button_theme_pseudo::before {
    border: 1px solid #ccc;

    transition: background-color .15s linear;
}

/* press */
.Button_theme_pseudo.Button_pressed,
.Button_theme_pseudo:active {
    transition: none;
    transform: scale(.96);
}

/* 1.042 ≈ 1/0.96 */
.Button_theme_pseudo.Button_pressed::after,
.Button_theme_pseudo:active::after {
    transform: scale(1.042);
}

/* disable */
.Button_theme_pseudo[aria-disabled='true'] {
    color: #7f7f7f;
}

.Button_theme_pseudo[aria-disabled='true']::before {
    border-color: transparent;
    background-color: #f2f2f2;
}

/* check */
.Button_theme_pseudo.Button_checked {
    color: #fff;
}

.Button_theme_pseudo.Button_checked::before {
    border-color: transparent;
    background-color: #555;
}

/* hover */
.Button_theme_pseudo:not([aria-disabled='true']):hover::before {
    background-color: #f7f7f7;
}

/* check */
.Button_theme_pseudo.Button_checked:not([aria-disabled='true']):hover::before {
    background-color: #515151;
}

/* focus */
.utilityfocus .Button_theme_pseudo:focus::before {
    border: 2px solid  #f33;
}
