@import '../../../theme/default.scss';

/* common */
.Button_theme_secondary {
    color: $color-base;

    transition: transform .1s ease-out, color .15s linear;
    transform: scale(1);
}

.Button_theme_secondary::before {
    border: 2px solid $color-control-bg-border-default;
    background-color: #fff;

    transition: background-color .15s linear;
}

/* press */
.Button_theme_secondary.Button_pressed,
.Button_theme_secondary:active {
    transition: none;
    transform: scale(.96);
}

/* 1.042 ≈ 1/0.96 */
.Button_theme_secondary.Button_pressed::after,
.Button_theme_secondary:active::after {
    transform: scale(1.042);
}

/* disable */
.Button_theme_secondary[aria-disabled='true'] {
    color: $color-control-default-disabled;
}

.Button_theme_secondary[aria-disabled='true']::before {
    border-color: transparent;
    background-color: $color-control-bg-default-disabled;
}

/* check */
.Button_theme_secondary.Button_checked {
    color: #fff;
}

.Button_theme_secondary.Button_checked::before {
    border-color: transparent;
    background-color: $color-control-bg-default-check;
}

/* hover */
.Button_theme_secondary:not([aria-disabled='true']):hover::before {
    border-color: $color-control-bg-border-default-hover;
}

/* check */
.Button_theme_secondary.Button_checked:not([aria-disabled='true']):hover::before {
    background-color: $color-control-bg-default-check-hover;
}

/* focus */
.utilityfocus .Button_theme_secondary:focus::before {
    border: 2px solid #f33;
}
