.Tumbler_size_s {
    font-size: 13px;
    line-height: 16px;
}

.Tumbler_size_s .Tumbler-Label:first-child {
    margin-right: 8px;
}

.Tumbler_size_s .Tumbler-Label:last-child {
    margin-left: 8px;
}
