.Tumbler_size_m {
    font-size: 15px;
    line-height: 20px;
}

.Tumbler_size_m .Tumbler-Label:first-child {
    margin-right: 12px;
}

.Tumbler_size_m .Tumbler-Label:last-child {
    margin-left: 12px;
}
