.Tumbler_size_l {
    font-size: 18px;
    line-height: 24px;
}

.Tumbler_size_l .Tumbler-Label:first-child {
    margin-right: 16px;
}

.Tumbler_size_l .Tumbler-Label:last-child {
    margin-left: 16px;
}
