.MessageBox.MessageBox_size_s .MessageBox-Content {
    max-width: 260px;
}

.MessageBox_size_s .MessageBox-Tail {
    width: 22px;
    height: 22px;
}

.MessageBox_size_s.MessageBox_layout_tooltip .MessageBox-Content {
    max-width: 260px;
    padding: 5px 10px;

    font-size: 13px;
}

.MessageBox_size_s.MessageBox_layout_plain .MessageBox-Content,
.MessageBox_size_s.MessageBox_layout_functional .MessageBox-Content {
    font-size: 13px;
}

.MessageBox_size_s.MessageBox_layout_functional .MessageBox-Content {
    width: 180px;
}

.MessageBox.MessageBox_size_s .MessageBox-Backdrop::before,
.MessageBox.MessageBox_size_s .MessageBox-Background {
    border-radius: 7px;
}

.MessageBox.MessageBox_size_s .MessageBox-Buttons .Button:last-child::before {
    border-radius: calc(7px - 1px) 0;
}

.MessageBox.MessageBox_size_s .MessageBox-Buttons .Button_width_max:only-child::before {
    border-radius: 0 0 7px 7px;
}
