/* common */
.Textarea_theme_default .Textarea-Box {
    border: 1px solid rgba(38, 49, 129, .15);
    border-radius: 12px;
    background-color: #fff;

    transition: background-color .15s linear;
}

.Textarea_theme_default.Textarea_state_error .Textarea-Box {
    border-color: #f33;
}

.Textarea_theme_default .Textarea-Control {
    color: #000;
}

.Textarea_theme_default .Textarea-Control::placeholder {
    color: rgba(38, 49, 129, .5);
}

.Textarea_theme_default .Textarea-Icon {
    color: rgba(38, 49, 129, .5);
}

.Textarea_theme_default .Textarea-Clear {
    color: rgba(38, 49, 129, .5);

    transition: color .15s linear;
}

.Textarea_theme_default.Textarea_size_s .Textarea-Clear svg {
    width: 12px;
    height: 12px;
}

.Textarea_theme_default.Textarea_size_m .Textarea-Clear svg {
    width: 14px;
    height: 14px;
}

.Textarea_theme_default.Textarea_state_error .Textarea-Hint {
    color: #f33;
}

/* disable */
.Textarea_theme_default.Textarea_disabled .Textarea-Control {
    color: rgba(38, 49, 129, .5);
}

.Textarea_theme_default.Textarea_disabled .Textarea-Control::placeholder {
    color: rgba(38, 49, 129, .5);
}

.Textarea_theme_default.Textarea_disabled .Textarea-Box {
    border-color: transparent;
    background-color: rgba(38, 49, 129, .15);
}

/* focus */
.Textarea.Textarea_theme_default.Textarea_focused .Textarea-Box {
    border-color: rgba(38, 49, 129, .7);
}
